/*--- DEFAULTS ---*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  background-image: url('');
  background-position: 49.999% 0;
  background-repeat: no-repeat;
  background-color: #121212;
}

/*--- NAVBAR ---*/

nav .icon{
  position: absolute;
  margin: auto;
  top: 8px;
  right: 10px;
  width: 50px;
  height: 50px;
  background: #671ac4;
  box-shadow: 0 0px 12px 0 rgb(112, 6, 240);
  border-radius: 50%;
  transition: all 1s;
  z-index: 999;
}

nav .icon:before{
  content: "";
  position: absolute;
  margin: auto;
  top: 15px;
  right: 0;
  bottom: 0;
  left: 15px;
  width: 10px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
  transition: all .5s;
}

nav .icon:after{
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all .5s;
}

nav .icon.close{
  background-color: black;
  box-shadow: none;
}

nav .icon.close:before{
  top: 0;
  left: 0;
  width: 25px;
}

nav .icon.close:after{
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}

nav .icon.loading{
  border: 3px solid white;
  border-top: 3px solid black;
  border-radius: 50%;
  animation: spin 2s cubic-bezier(.79,.14,.15,.86) infinite;
}

nav .icon.loading:before{
  display: none;
}

nav .icon.loading:after{
  display: none;
}

@keyframes spin{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

nav .icon:hover{
  cursor: pointer;
}

nav input{
  position: absolute;
  right: 30px;
  top: 17px;
  width: 0px;
  height: 35px;
  border: 0;
  border-radius: 30px 0 0 30px;
  padding: 0 38px 0 12px;
  background-color: #671ac4;
  color: black;
  font-family: monospace;
  font-weight: bolder;
  font-size: 1.2em;
  opacity: 0;
  transition: all 1s;
}

nav input.open{
  opacity: 1;
  width: 250px;
  background-color: #00d754;
}

/*--- NOTICE ---*/

.noticeContainer{
  position: absolute;
  left: 10px;
  width: 300px;
}

.noticeContainer .notice{
  margin-bottom: 8px;
  padding: 6px;
  background-color: #222;
  border-left: 5px solid darkred;
  color: white;
  font-family: monospace;
  font-size: 18px;
}

/*-- USER CONTAINER ---*/

.userHeadContainer{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 15px 15%;
}

.userHeadContainer .wrapper{
  background-color: #ffffff05;
  padding: 8px;
  border-radius: 8px;
  width: 500px;
  box-shadow: 0px 0px 10px #ffffff12;
}

.userHeadContainer .wrapper .profilePicture img{
  float: left;
  width: 164px;
  margin-right: 10px;
}

.userHeadContainer .data{
  flex-flow: column wrap;
  align-content: space-between;
  justify-content: space-between;
}

.userHeadContainer .data span{
  display: block;
  color: #E4E4E5;
  padding: 0 0 5px 0;
}

.userHeadContainer .data span{
  max-height: 3.5em;
  overflow: hidden;
}

.userHeadContainer .data #username{
  font-size: 28px;
}

.userHeadContainer .data .locationWrap img{
  display: inline;
  vertical-align: middle;
  width: 16px;
  margin-right: 1px;
}

.userHeadContainer .data .locationWrap span{
  display: inline;
}

/*--- COUNTER ---*/

.counterContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.counterContainer .counter{

}

.counterContainer .counter div{
  display: inline-block;
  margin: 25px 50px;
}

.counterContainer .counter div span{
  transition: color 250ms ease;
}

.counterContainer .counter div span:not(.days){
  width: 112px;
}

.counterContainer .counter div span:nth-child(1){
  display: block;
  font-size: 100px;
  color: #671ac4;
}

.counterContainer .counter div span:nth-child(2){
  font-weight: bold;
  color: #008c37;
}

.counterContainer .counter div:hover span{
  transition: color 250ms ease;
  color: #00d754 !important;
}

#noVac{
  font-size: 50px;
  color: #00d754;
}

/*--- MEDIA QUERIES ---*/

@media only screen and (max-width: 1000px){
  /* COUNTER */
  .counterContainer .counter{
    display: flex;
    flex-wrap: wrap;
  }
  .counterContainer .counter div{
    flex: 1 1 30%;
    text-align: center;
  }
  .counterContainer .counter div span:not(.days){
    width: auto;
  }
}

@media only screen and (max-width: 650px){
  /* NAV */
  nav .icon{
    position: fixed;
    top: unset;
    bottom: 10px;
  }
  nav input{
    position: fixed;
    top: unset;
    bottom: 17px;
  }
  nav input.open{
    width: 60%;
  }

  /* USER */
  .userHeadContainer{
    margin: 15px 5%;
  }

  /* COUNTER */
  .counterContainer .counter div span:nth-child(1){
    font-size: 4em;
  }
}

@media only screen and (max-width: 500px){
  /* NAV */
  nav input.open{
    width: 250px;
  }

  /* COUNTER */
  .counterContainer .counter{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
  }
}


/*--- STEAM STYLES ---*/

.bb_h1{
  font-size: 20px !important;
}

.bb_link{
  color: #ebebeb !important;
  text-decoration: none !important;
  cursor: pointer !important;
  text-decoration: underline !important;
}

.bb_link:hover{
  color: #f456f9 !important;
}

.bb_spoiler{
  padding: 3px !important;
  background-color: black !important;
  color: black !important;
}

.bb_spoiler:hover{
  color: white !important;
}

.bb_strike{
  text-decoration: line-through !important;
}

/*--- MISC ---*/

.hidden{
  display: none !important;
}
