/*--- DEFAULTS ---*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  background-image: url('');
  background-position: 49.999% 0;
  background-repeat: no-repeat;
  background-color: #121212;
}

/*-- USER CONTAINER ---*/

.userHeadContainer{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 15px 15%;
}

.userHeadContainer .wrapper{
  background-color: #ffffff05;
  padding: 8px;
  border-radius: 8px;
  width: 500px;
  box-shadow: 0px 0px 10px #ffffff12;
}

.userHeadContainer .wrapper .profilePicture img{
  float: left;
  width: 164px;
  margin-right: 10px;
}

.userHeadContainer .data{
  flex-flow: column wrap;
  align-content: space-between;
  justify-content: space-between;
}

.userHeadContainer .data span{
  display: block;
  color: #E4E4E5;
  padding: 0 0 5px 0;
}

.userHeadContainer .data span{
  max-height: 3.5em;
  overflow: hidden;
}

.userHeadContainer .data #username{
  font-size: 28px;
}

.userHeadContainer .data .locationWrap img{
  display: inline;
  vertical-align: middle;
  width: 16px;
  margin-right: 1px;
}

.userHeadContainer .data .locationWrap span{
  display: inline;
}

/*--- COUNTER ---*/

.counterContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.counterContainer .counter{

}

.counterContainer .counter div{
  display: inline-block;
  margin: 25px 50px;
}

.counterContainer .counter div span{
  transition: color 250ms ease;
}

.counterContainer .counter div span:not(.days){
  width: 112px;
}

.counterContainer .counter div span:nth-child(1){
  display: block;
  font-size: 100px;
  color: #671ac4;
}

.counterContainer .counter div span:nth-child(2){
  font-weight: bold;
  color: #008c37;
}

.counterContainer .counter div:hover span{
  transition: color 250ms ease;
  color: #00d754 !important;
}

#noVac{
  font-size: 50px;
  color: #00d754;
}

/*--- STEAM STYLES ---*/

.bb_h1{
  font-size: 20px;
}

.bb_link{
  color: #ebebeb;
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
}

.bb_link:hover{
  color: #f456f9;
}

.bb_spoiler{
  padding: 3px;
  background-color: black;
  color: black;
}

.bb_spoiler:hover{
  color: white;
}

.bb_strike{
  text-decoration: line-through;
}

/*--- MISC ---*/

.hidden{
  display: none;
}
