<?php
  namespace Api;

  use PDO;

  class Database
  {
    private $host   = "HOST";
    private $dbname = "DB";
    private $user   = "USER";
    private $pass   = "PASS";
    public $conn;

    public function connect(){
      try{
        $DBH = new PDO("mysql:host=$this->host;dbname=$this->dbname", $this->user, $this->pass);
      }
      catch(PDOException $e){
        echo $e->getMessage();
      }

      return $this->conn;
    }
  }
